/la/
/anon.session
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/AITrain.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/anon.session-journal
/.gitattributes
/libary.txt
/private.zip
