telethon==1.28.5
aiogram==2.25.1
asyncio==3.4.3
aiohttp==3.8.4
emoji==2.2.0
pytz==2023.3
configparser~=5.3.0
Pyrogram~=2.0.106
requests~=2.30.0
langdetect~=1.0.9
wikipedia~=1.4.0
wikipedia-api~=0.6.0
fasttext~=0.9.2
translate~=3.6.1
geopy~=2.3.0
arrow~=1.2.3
timezonefinderL~=4.0.2
TgCrypto~=1.2.5
importlib_resources~=5.2.2
